<p id="carouselHeader">Development Showcase</p>
<div id="carouselWrapper">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="https://am-shadrclient.herokuapp.com/" target="blank">
                    <img class="d-block w-100" src="../assets/carousel/shadr.png" alt="shadr">
                  </a>
                  </div>
                  <div class="carousel-item">
                    <a href="https://grassroots-gardening-am.firebaseapp.com/home" target="blank">
                    <img class="d-block w-100" src="../assets/carousel/grassrootsGardening.png" alt="grassroots gardening">
                  </a>
                  </div>
                  <div class="carousel-item">
                    <a href="https://ammovedex.firebaseapp.com/" target="blank">
                    <img class="d-block w-100" src="../assets/carousel/moveDex.png" alt="moveDex">
                  </a>
                  </div>
                  <div class="carousel-item">
                    <a href="https://alecxmoritz.github.io/TheMechaHut/" target="blank"> 
                      <img class="d-block w-100" src="../assets/carousel/mechaHutV2.png" alt="mechaHut">
                    </a>
                    </div>
                    <div class="carousel-item">
                      <a href="https://alecxmoritz.github.io/Portfolio/" target="blank">
                        <img class="d-block w-100" src="../assets/carousel/portfolioV1.png" alt="portfolioVOne">          
                      </a>
                      </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
</div>
<br>