<div id="techSkills">
<div class="d-flex flex-row flex-wrap">

  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%;" src="./assets/badges/heroku.png" alt="heroku">
  </div>
  <div class="badgeWrapper">
    <img style="height: 90%; width: 100%;" src="./assets/badges/agile.png" alt="agile">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%;" src="./assets/badges/gitWhite.png" alt="git">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/html5.png" alt="html5">
  </div>
  <div class="badgeWrapper">
    <img style="height: 120%; width: 120%;" src="./assets/badges/angular.svg" alt="angular">
</div>


  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/firebase-2.png" alt="firebase">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/javascript.png" alt="javascript">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/sass.png" alt="sass">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/postgrSQL.jpeg" alt="postgrSQl">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 90%" src="./assets/badges/css3.png" alt="css">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/nodejs.png" alt="nodejs">
  </div>
  <div class="badgeWrapper">
    <img style="height: 90%; width: 100%" src="./assets/badges/react.png" alt="react">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/badges/express.png" alt="express">
  </div>
  <div class="badgeWrapper">
      <img style="height: 100%; width: 100%" src="./assets/badges/github-light.svg" alt="github">
    </div>
    <div class="badgeWrapper">
      <img style="height: 110%; width: 110%"
      src="./assets/badges/restfulApi.png" alt="restfulApi">
    </div>
    <div class="badgeWrapper">
      <img style="height: 110%; width: 100%"
      src="./assets/badges/sequelizelogo.png" alt="sequelize">
    </div>
    <div class="badgeWrapper">
      <img style="height: 100%; width: 100"
      src="./assets/badges/material.png" alt="material">
    </div>
</div>

