#techSkills {
    justify-content: center;
    width: 100%;
    margin: auto;
    position: relative;
}

.badgeWrapper {
    width: 7em;
    height: 7em;
    margin: 1em;
}

.flex-row {
    justify-content: center;
}


