<section id="techSkills">
<div class="row">
<div class="badgeColumn">
  <div class="badgeWrapper .col-sm">
    <img style="height: 250px; width: 250px;" src="./assets/heroku.png" alt="heroku">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/agile.png" alt="agile">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/gitWhite.png" alt="git">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/html5.png" alt="html5">
  </div>
</div>
<div class="badgeColumn .col-sm">
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/firebase.png" alt="firebase">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/javascript.png" alt="javascript">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/sass.png" alt="sass">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/postgrsql.jpeg" alt="postgrSQl">
  </div>
</div>
<div class="badgeColumn col-sm">
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/nodejs.png" alt="nodejs">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/react.png" alt="react">
  </div>
  <div class="badgeWrapper">
    <img style="height: 250px; width: 250px;" src="./assets/express.png" alt="express">
  </div>
  <div class="badgeWrapper">
      <img style="height: 250px; width: 250px;" src="./assets/github.png" alt="github">
  </div>
</div>
</div>
</section>