<div id="techSkills">
<div class="d-flex flex-row flex-wrap">

  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%;" src="./assets/heroku.png" alt="heroku">
  </div>
  <div class="badgeWrapper">
    <img style="height: 90%; width: 100%;" src="./assets/agile.png" alt="agile">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%;" src="./assets/gitWhite.png" alt="git">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/html5.png" alt="html5">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%;" src="./assets/angular.svg" alt="github">
</div>


  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/firebase-2.png" alt="firebase">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/javascript.png" alt="javascript">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/sass.png" alt="sass">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/postgrsql.jpeg" alt="postgrSQl">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 90%" src="./assets/css3.png" alt="css">
  </div>


  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/nodejs.png" alt="nodejs">
  </div>
  <div class="badgeWrapper">
    <img style="height: 90%; width: 100%" src="./assets/react.png" alt="react">
  </div>
  <div class="badgeWrapper">
    <img style="height: 100%; width: 100%" src="./assets/express.png" alt="express">
  </div>
  <div class="badgeWrapper">
      <img style="height: 100%; width: 100%" src="./assets/github-light.svg" alt="github">
    </div>
</div>