#aboutPanel {
    width: 90%;
    margin: auto;
}

#title {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.panel-body {
    word-wrap: break-word;
}

p { 
    text-indent:40px;
    word-wrap: break-word;
}

#eightBitOne {
    float: left;
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 1em;
}

#iwitLogo {
    float: right;
    height: 120px;
    margin: 1em;
    margin-top: 2em;
}