<h2 id="title">About the Developer</h2>
<br>
<div id="aboutPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><img src="../assets/8bitAvatar.png" id="eightBitOne" alt="avatar">
                Alecx Moritz is a twenty-four year old full stack developer and a Hoosier native. She graduated in 2012 from Westfield High shcool, with major areas of study being music, art, and history. During her time in school, Alecx was an active member of Key Club, and she spent time on the soccer, lacrosse, rugby and throwing teams. She also preformed with the school's concert, jazz and Symphonic bands, marched as a member of the Shamrock Pride, and spent two years as the percussionist for the pit orchestra. Alecx has always been interested in computers and tech, and started programming at a low level around the age of ten.<img src="../assets/iWiT.png" id="iwitLogo" alt="IndyWomenInTech">
            </p>
            <p>Post high school Alecx moved into the service industry. Holding three jobs in kitchens and eventually moving up into management at Jimmy John's in the beginning of 2015, and eventually capping out as a General Manager. While mostly a successful and pleasant experience, after attending an Into To Coding class at the ElevenFifty Academy, Alecx left Jimmy Johns and enrolled in the JavaScript SmartStart track starting in March. There she was an Indy Women In Tech scholarship recipient and learned with and from some of the best minds around. Upon graduation from the ElevenFifty Academty, Alecx was awarded the Core Value: Leadership award. Since then Alecx has been studying C# and .NET, higher level JavaScript, mobile development with React Native, and game development with C#.
            </p>
            <p>Since becoming an ElevenFifty alumni, Alecx has been enjoying a life of learning, teaching, and technology. She strives to learn more, and share that knowledge with others, and to help other learning or established developers in any way she can. Alecx is a driven, dynamic developer with evolving thoughts and research tactics to solve any problem, no matter the size. She is resilient, loves challenges and puzzles, and putting brand new skills and technologies to the test.</p>
            <br>
            <br>
        </div>
      </div>
</div>
