nav {
    font-size: .6em;
    min-height: 4em;
    max-height: 20.9em;
    z-index: 1;
}

.navbar-brand {
    font-size: 1.2em;
}

.dropdown-item {
    font-size: .6em;
}

.dropdown-menu {
    max-width: 8em;
    background-color: rgb(52, 58, 64)
}