<h2 [ngStyle]="{'text-align':'center'}">Recent Projects</h2>
<br>
<!-- Card deck -->
<div [ngStyle]="{'color':'black'}" class="card-deck">

  <!-- Card -->
<div class="card">
  <!-- Card image -->
  <div class="view overlay">
    <a href="https://grassroots-gardening-am.firebaseapp.com/home" target="blank">
    <img class="card-img-top" src="./assets/recDev/ggRecDev.png" alt="Card image cap">
  </a>
      <div class="mask rgba-white-slight"></div>
  </div>
  <!-- Card content -->
  <div  class="card-body">
    <!-- Title -->
    <h4 class="card-title">Grassroots Gardening</h4>
    <!-- Text -->
    <p class="card-text">This was a one-day project I worked on with a team of two other developers. We used Angular and Bootstrap to create our finished product. The page features navigation, a toggling navbar, a carousel, multiple cards, and consistent styling throughout the page.</p>
    <!-- Button -->
    
  </div>
</div>
<!-- Card -->

  <!-- Card -->
<div class="card">
  <!-- Card image -->
  <div class="view overlay">
    <a href="https://am-shadrclient.herokuapp.com/" target="blank">
    <img class="card-img-top" src="./assets/recDev/sRecDev.png" alt="Card image cap">
  </a>
      <div class="mask rgba-white-slight"></div>
  </div>
  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">shadr</h4>
    <!-- Text -->
    <p class="card-text">shadr was my first fullstack PERN application with an original concept. I used multiple different react packages for my 1.0 version. The backend features encryption, tokenization using JWT, session validation, and over three tables in the database. The client for shadr is a social media styled CRUD application allowing users to sign up, log in, post their 'shades' and 'dislke' other users posts.</p>
    <!-- Button -->
    
  </div>
</div>
<!-- Card -->

  <!-- Card -->
<div class="card">
  <!-- Card image -->
  <div class="view overlay">
    <a href="https://alecxmoritz.github.io/TheMechaHut/" target="blank">
    <img class="card-img-top" src="./assets/recDev/mhRecDev.png" alt="Card image cap">
  </a>
      <div class="mask rgba-white-slight"></div>
  </div>
  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">MechaHut v2</h4>
    <!-- Text -->
    <p class="card-text">This is a rework of the first static site I had built. I started with a completely blank slate again, and borrowed inspiration and a few images from the original MechaHut. The result was a fully responsive static webstore built with bootstrap.</p>
    <!-- Button -->

  </div>
</div>
<!-- Card -->
</div>
<!-- Card deck -->