.projectButton {
    margin: auto;
}

/* .card {
    width: 19em;
    margin: auto;
    max-width: 30em;
} */
.card-deck {
    width: 95%;
    margin: auto;
    font-size: .7em;
}

.card {
    background-color: silver;
}

.launch-btn {
    position: realtive;
    bottom: 0em;
}