body {
    font-size: 1em;
    width: 100%;
}

.card-deck {
    background-color: blue;
    max-width: 95%;
    
}

.card {
    
    margin: auto;
    font-size: .7em;
    background-color: rgb(185, 185, 193);
    color: black;
}
