<br>
<br>
<div class="w-100 p-3">
<div id="cardWrapper">
<!-- Card deck -->
<div class="card-deck">

<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="./assets/webDev/grassrootsGardening.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Grassroots Gardening</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Static Angular Webfont</h6>
    <!-- Text -->
    <p class="card-text">This was a one-day project I worked on with a team of two other developers. We used Angular and Bootstrap to create our product. The page features navigation, a toggling navbar, a carousel, cards, and consistent styling throughout the page.
    </p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic" href=""><i class="fa fa-bullseye" style="color: black;"></i></a>

  </div>

</div>
<!-- Card -->

  
<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="./assets/webDev/shadr.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>shadr</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">PERN stack mini-social media</h6>
    <!-- Text -->
    <p class="card-text">shadr was my first fullstack PERN application with an original concept. I used multiple different react packages for my 1.0 version. The backend features encryption, tokenization using JWT, session validation, and over three tables in the database. The client for shadr is a social media styled CRUD application.
    </p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>

  </div>

</div>
<!-- Card -->

  <!-- Card -->
  
<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="./assets/webDev/mechaHutV2.png" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>MechaHut v2</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Static Webfront with Bootstrap</h6>
    <!-- Text -->
    <p class="card-text">This is a rework of the first static site I had built. I started with a completely blank slate again, and borrowed inspiration and a few images from the original MechaHut. The result was a fully responsive static webstore built with bootstrap.
    </p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>

  </div>

</div>
<!-- Card -->

</div>
<!-- Card deck -->

<!-- second row -->
<div class="card-deck">

  <div class="card card-cascade wider reverse">
  
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="./assets/webDev/moveDex.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
  <!-- Card -->
    <!-- Card content -->
    <div class="card-body text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>Pokemon MoveDex</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">RESTful API Project</h6>
      <!-- Text -->
      <p class="card-text">I built an application that reaches out the PokeAPI and returns all the information you could need about any pokemon move. It was built using pure HTML, CSS and JavaScript, and some sourced images for extra flavor.
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
  
    
  <!-- Card -->
  <div class="card card-cascade wider reverse">
  
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="./assets/webDev/portfolioV1.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>Portfolio v1</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Bootstrap</h6>
      <!-- Text -->
      <p class="card-text">This is the first, and no longer updated, version of my portfolio. It was originally also built with pure HTML and CSS, and modified to include Bootstrap. It is mobile responsive, features a carousel, many cards, panels, and various other styled bootstrap element.
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
  
    <!-- Card -->
    
  <!-- Card -->
  <div class="card card-cascade wider reverse">
  
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="./assets/webDev/mechaHutV1.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>MechaHut</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">CSS and HTML</h6>
      <!-- Text -->
      <p class="card-text">This is the first webfront I ever built. MechaHut is made with pure HTML and CSS, and mobile responsive to some degree. Some elements from this page were carried over to the better, and newer, Bootstrap MechaHut above.
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
  
  </div>
  <!-- Card deck -->

  <!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card card-cascade wider reverse">
  
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="./assets/webDev/ghost.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>Ghost</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">CSS and HTML</h6>
      <!-- Text -->
      <p class="card-text">The Ghost has been built over and over, and reworked and reworked again; however, this is the current version of my first web project ever. The ghost is made with pure HTML and CSS, and animated through webkit animations. 
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->  
  </div>
  <!-- Card deck -->
</div>
</div>
  <br>
  <br>